.tool{
    text-align: center;
    border: 2px solid black;
    width: 20% ;
    margin: 50px ;
    margin-left: 500px;
    background-color: white;
}
body{
    background-color: gray ;
}
.box-part{
    background-color: white;
    padding: 20px 10px;
    text-align: center;
    margin: 20PX 0px;
}
.para{
    margin: 20px 0px;
}
.btn1{
    margin-top: 68px;
    margin-left: 5px;
}